/*
Adrián Navarro Pérez
Cristina Val Marina
DAW1
*/

/*Importar google font "LATO"*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*Se aplica a todos los elementos de los 2 documentos*/
* {
    background-color: #E4DFDA;
    font-family: 'Lato', sans-serif;
    margin-left: 4px;
    /*márgen de la izquierda */
}

/*se aplica a todos los elementos pero como en esta pagina solo hay campos y botones se aplica a los input y buttons*/
*:focus {
    border: 4px solid #BAADA0;
    background-color: #D4CCC4;
}

/*clase hecha para modificar en esos el ancho*/
.textPx {
    width: 300px;
    padding: 5px;
    /* Márgen de dentro*/
}

/*mismo ancho para los 2 campos*/
#formTelefono,
#formEdad {
    width: 100px;

}

/*para los 2 button que hay 1 en cada pagina*/
button {
    height: 50px;
    width: 100px;
    background-color: #A18F7D;
    margin-top: 20px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background-color: #A18F7D;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    background-color: #BAADA0;
}



/*para cuando el cursor pasa por encima de los botones*/
button:hover {
    background-color: #BAADA0;
}

button:hover span {
    padding-right: 10px;
    background-color: #BAADA0;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

h1 {
    color: #A18F7D;
}

/*modificar todas las labels*/
label {
    width: 800px;
    margin-right: 100px;
}

/*modificar margenes de todos los input*/
input {
    margin-top: 5px;
    margin-bottom: 5px;
}

p,
#idioma {
    font-weight: bold;
}

/*modificar el desplegable*/
#formIdioma {
    margin-top: 20px;
}

#genero {
    margin-top: 40px;
}