#contenedor {
    margin: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.interior {
    height: 20vh;
    width: 20vh;
    color: white;
    background-color: blue;
    margin: 1vh;
    font-size: 15vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.interior:hover {
    height: 42vh;
    width: 42vh;
    transition: 1s;
    background-color: aquamarine;
}